OCHER_TARGET?=posix

## Build settings
OCHER_MAJOR?=0
OCHER_MINOR?=0
OCHER_PATCH?=8
OCHER_DEV?=0

## Debugging
OCHER_DEBUG?=1
OCHER_AIRBAG_FD?=1

## eBook formats
OCHER_EPUB?=1
OCHER_TEXT?=1
OCHER_HTML?=1

## Output devices
OCHER_UI_FD?=1
OCHER_UI_NCURSES?=1
OCHER_UI_SDL?=1
OCHER_UI_MX50?=0
ifeq ($(OCHER_TARGET),kobo)
    OCHER_UI_MX50=1
    OCHER_UI_NCURSES=0
    OCHER_UI_SDL=0
endif



